/*
Global text styles used in the design go here, also colors used for those text styles.
If those colors are used programmatically then add to Colors.ts using "var(--body1)" syntax instead of
redeclaring the color to prevent colors in CSS and JS getting out of sync.
*/

:root{
    /* headings */
    --body1: #444756;
    --body2: #797979;
    --headings: #1D2442;
}

h1, .h1 {
    font-family: "Open Sans";
    color: var(--headings);
    font-size: 32px;
    font-weight: bold;
}

h2, .h2 {
    font-family: "Open Sans";
    color: var(--headings);
    font-size: 24px;
    font-weight: bold;
}

h3, .h3 {
    font-family: "Open Sans";
    color: var(--headings);
    font-size: 20px;
    font-weight: bold;
}

h4, .h4 {
    font-family: "Open Sans";
    color: var(--headings);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

/* p defaults to body1 */
p, .body1 {
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0.1px;
    color: var(--body1);
}

.body2 {
    font-family: "Open Sans";
    font-size: 12px;
    color: var(--body2);
}

@media(max-width: 1000px) {
    h1, .h1 {
        font-family: "Open Sans";
        color: var(--headings);
        font-weight: bold;
        font-size: 24px;
    }

    h2, .h2 {
        font-family: "Open Sans";
        color: var(--headings);
        font-weight: bold;
        font-size: 22px;
    }
}
